<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flat UI Login</title>



    <link href="~/Content/Login/CSS/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/style.css">*@





</head>

<body>
    @RenderBody()
</body>
</html>
